@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(223, 87%, 63%);
    /* ### Secondary */

    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    /* ### Neutral */

    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);


    /* FONTS */
    --font-Libre: 'Libre Franklin', sans-serif;
}


body {
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: var(--font-Libre);
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.heading {
    font-size: 1.9rem;
    font-weight: 300;
    color: var(--Gray);
}

.heading span {
    font-weight: 700;
    color: var(--Very-Dark-Blue);
}

.desc {
    font-size: 1.1rem;
    color: var(--Very-Dark-Blue);
    font-weight: 300;
}

.form {
    padding: 5px 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

.form input {
    border: none;
    outline: none;
    border: 1px solid var(--Pale-Blue);
    border-radius: 30px;
    padding: 15px 10px;
    width: 100%;
    font-weight: 300;
}

.form.error input {
    border: 1px solid var(--Light-Red);
}

.form input::placeholder {
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--Pale-Blue);
}

.form small {
    margin: 10px 5px 0 10px;
    color: var(--Light-Red);
    font-style: italic;
    display: none;
    opacity: 0;
    transition: all .3s linear;
}

.form.error small {
    display: block;
    opacity: 1;
}

.form.success small {
    color: var(--Blue);
    display: block;
    opacity: 1;
}

.form button {
    margin: 15px 0px 5px 0px;
    width: 100%;
    padding: 15px 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: var(--Blue);
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    box-shadow: 1px 1px 15px 1px hsla(223, 87%, 63%, 0.473);
}

.illustration--wrapper {
    margin: 20px 0px 0px 0px;
    padding: 10px 1rem;
}

.illustration--wrapper img {
    width: clamp(380px, 60vw, 800px);
    height: clamp(290px, 35vh, 700px);
    object-fit: fill;
}

.icon--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Gray);
    width: 40px;
    height: 40px;
}

.facebook {
    color: var(--Blue);
}

.twitter {
    color: rgb(29, 131, 247);
}

.instagram {
    color: rgb(252, 53, 136);
}


footer {
    align-self: center;
    font-size: .9rem;
    color: var(--Gray);
}


@media Screen and (min-width: 850px) {
    .heading {
        font-size: 2.3rem;
    }


    .form {
        place-items: center;
        place-content: center;
        grid-template-columns: 40% 20%;
        grid-template-rows: 1fr 10px;
        gap: 1rem;
    }

    .form input {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .form button {
        grid-row-start: 1;
        margin: 0;
    }

    .form small {
        grid-row-start: 2;
        font-size: 1.2rem;
    }

    .illustration--wrapper img {
        width: 800px;
        height: 470px;
    }


}


@media (hover:hover) {
    .icon {
        cursor: pointer;
        transition: all .3s linear;
    }

    .facebook:hover {
        background-color: var(--Blue);
        border: 1px solid transparent;
        color: white;
    }

    .twitter:hover {
        background-color: rgb(29, 131, 247);
        border: 1px solid transparent;
        color: white;
    }

    .instagram:hover {
        background-color: rgb(252, 53, 136);
        border: 1px solid transparent;
        color: white;
    }

    .form button {
        cursor: pointer;
        transition: all .3s linear;
    }

    .form button:hover {
        background: hsl(223, 87%, 53%);
    }
}